<nav class="navbar navbar-expand-lg navbar-light bg-warning" >
  <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="employees" routerLinkActive="active"   class="nav-link"><b>TASK LIST</b></a>

      </li>
      <li class="nav-item">
          <a routerLink="create-employee" routerLinkActive="active"   class="nav-link"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>ADD YOUR TODAYS TASK</b></a>

      </li>

      <li class="nav-item">
          <a routerLink="projectdetails" routerLinkActive="active"   class="nav-link"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>PROJECT DETAILS</b></a>

      </li>
      <li class="nav-item">
        <a routerLink="exploremore" routerLinkActive="active"   class="nav-link" style="position: absolute;"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>EXPLORE MORE </b></a>

    </li>
  </ul>


</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
<!-- <div class="footer">
<div class="container">
  <span >All Rights Reserved <br>
      Balaji Biradar<br>
      Employee_Management_System<br>
  </span>
</div>
</div>   -->